body{
    position:relative;
    min-width: 320px;
}
.header{
    position:absolute;
    top:0;
    left:50%; 
    margin-left:-640px;
    padding-top:15px;
    padding-bottom:12px;
    padding-left:20px;
    padding-right:21px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:1239px;
    max-width: 1280px;
    height:40px;
    background-color: $back-color;
    position: fixed;
    z-index:1000;
    @media (max-width: 480px){
        position:static;
        align-items: center;
        width: 204px;
        height:32px;
        margin:0 auto;;
        justify-content: flex-start;
        padding-top:14.5px;
        padding-bottom:3px;
        padding-left:0;
        padding-right:0;
        left:0;
    }
    .header__title{
        width: 293px;
        height: 43px;
        @media (max-width: 480px){
            margin-left:22px;
            width: 98.5px;
            height: 14.5px;
            margin-right:57px;
        }
    }
    img{
        width: 293px;
        height: 43px;
        @media (max-width: 480px){
            width: 98.5px;
            height: 14.5px;
        }

    }
    .header__login{
        width: 93px;
        height: 36px;
        margin-right:366px;
    
        .login__button{
            width: 93px;
            height: 36px;
            border: solid 2px $main-color;
            padding-bottom: 4px;
            padding-left: 7px;
            letter-spacing: 0.4px;
            cursor: pointer;
            font-size: 15px;
            background-color: $back-color;
            color:$main-color;
            @media (max-width: 480px){
                display:none;
            
            }
        }
    }
        .show{
            @media (max-width: 480px){
            display:block;
            position:absolute;
            left:50%;
            margin-left:-86px;
            top:130px;
            width: 172px;
            height: 22px;
            z-index:10;
        }
    }
    
    .help__burger{
        display:none;
        @media (max-width: 480px){
            display:block;
            margin-right:22px;
            cursor: pointer;
            img{
            width: 9.5px;
            height: 7.5px;
            }
        }
    }
    .header__help{
        margin-left: 424.5px;
        letter-spacing: 0.19px;
        font-size: 15px;
        color:$main-color;
        line-height:0.8;
        cursor: pointer;
        position: relative;
        height: 13px;
        @media (max-width: 480px){
            position: absolute;
            width: 180px;
            height: 101.5px;
            left: 50%;
            top: 53.5px;
            margin-left: -90px;
        }
        .help__button{
            @media (max-width: 480px){
                display:none;
            }
        }
        .help__menu{
            position: absolute;
            display:none;
            right: -4px;
            top: 18px;
            width: 245px;
            height: 167px;
            background-image: url(../img/menu.png);
            background-size:245px 167px;
            @media (max-width: 480px){
                width: 180px;
                height: 101.5px;
                box-shadow: 0px 2.5px 2.5px 0 rgba(25, 34, 42, 0.21);
                background-color: #ffffff;
                background-image:none;
            }
            .menu__links{
                padding-left: 9px;
                padding-top: 24px;
                @media (max-width: 480px){
                    padding-left:0px;
                    padding-top:0px;
                }
                
                .link{
                    width: 209px;
                    height: 15px;
                    border-radius: 0.5px;
                    padding-top:12px;
                    padding-left:16px;
                    padding-bottom:12px;
                    margin-bottom:8px;
                    margin-left:0px;
                    cursor: pointer;
                    @media (max-width: 480px){
                        width: 162.5px;
                        padding-left:10px;
                        margin-left:2.5px;
                        margin-right:4px;
                        margin-top:4px;
                        padding-bottom:6px;
                        margin-bottom:2px;
                    }
                }
                :hover{
                    width: 209px;
                    
                    background-color: #e6ecf1;
                    @media (max-width: 480px){
                        width: 162.5px;
                    }
                }
                :active{
                    background-color: lightgrey;
                    @media (max-width: 480px){
                        border-radius: 0.5px;
                        background-color: #e6ecf1;
                        
                    }
                }

                a{
                    font-size: 15px;
                    color: $main-color;
                }
            }
        }
        
        .visible{
            display:block;
        }
    }
} 


.footer{
    max-width: 1280px;
    height: 235px;
    margin:auto;
    background-color: #e6ecf1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    
    @media (max-width: 480px){
        width: 180px;
        height: 74px;
        display:block;
        position: relative;
    }
    .share__mob{
        display:none;
        
        @media (max-width: 480px){
            cursor:pointer;
            position: absolute;
            display:block;
            width: 10px;
            height: 12px;
            bottom:8.5px;
            right:7.5px;
        }
        img{
        width: 10px;
        height: 12px;
        }
    }
    .footer__security{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left:36px;
        margin-top:44px;
        margin-bottom:37px;
        
        @media (max-width: 480px){
            padding:0;
            width:142.5px;
            margin:0 auto;
            display:inline;
        }  
        
        .security__copyright{
            font-size: 15px;
            color:$copy-color;
            line-height: 1.4;
            margin-bottom:60px;
            @media (max-width: 480px){
                padding-top:10px;
                text-align: center;
                line-height: 0.9;
            }  
            span{
                display:block;
                @media (max-width: 480px){
                    display:inline;
                    font-size: 6.5px;
                    text-align: center;
                    color: $copy-color;
                    position:relative;

                }    
            }
        }
        .security__logo{
            img{
                width: 79px;
                height: 52px;
                @media (max-width: 480px){
                    position:absolute;
                    left:50%;
                    margin-left:-20px;
                    bottom:7px;
                }  
            }
        }
    }
    .footer__links{
        width: 132px;
        height: 147px;
        margin-top:44px;
        margin-bottom:41px;
        margin-left:170px;
        margin-right:120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 480px){
            display:none;
        }
        div{
            font-size: 15px;
            text-align: left;
            line-height: 1;
        }
        .links{
            font-size: 15px;
            text-align: left;
            line-height: 1;
            color: $links-color;
            letter-spacing: 0.2px;
        }
    }
    .footer__contacts{
        margin-top:55px;
        margin-bottom:74px;
        margin-right:174px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media (max-width: 480px){
            display:none;
        }

        .phone{
            margin-top: 1px;
            letter-spacing: 0px;
            margin-top: 8px;
            font-size: 24px;
            text-align: left;
            color: $links-color; 
        }
        span{
            display:block;
            font-size: 12px;
            text-align: left;
            line-height: 1.82;
            color: $copy-color; 
            letter-spacing: 0.25px;
            margin-bottom: 14.5px;
            margin-top: 1px;
        }
        .contacts{
            font-size: 15px;
            text-align: left;
            color: $links-color;
            margin-bottom: 12px;
            margin-top: 5px;
            letter-spacing: 0.17px;
        }
    }
    .footer__firma{
        height:87px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right:16px;
        margin-top:37px;
        margin-bottom:101px;
        padding-right: 2px;
        @media (max-width: 480px){
            width:142.5px;
            margin:0 auto;
            display:block;
            padding:0;
            margin-bottom:9px;
            text-align: center;
            height:16px;
        }    
        
        .firma__copyrights{
            display:inline;
            padding-bottom:16px;
            @media (max-width: 480px){
                display:block;
                height:100%;
                line-height: 0;
            } 
            
            span{
                display:block;
                font-size: 15px;
                line-height: 1.4;
                text-align: right;
                color: $copy-color;
                letter-spacing: 0.09px;  
                @media (max-width: 480px){
                    display:inline;
                    font-size: 6.5px;
                    text-align: center;
                    color: #000000;
                }     
            }
            
        }
        .firma__logo{
            width: 98px;
            height: 34px;
            
            @media (max-width: 480px){
                display:none;
            }
        }
       
    }
    
}



.modal__window{
    position:fixed;
    display:block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    .hidden{
        display:none;
    }
    
}

.background {
    background: #000;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    opacity: 0.9;
    z-index:1001;
    display:block;
    
    
}
.hidden{
    display:none;
}

.close{
    color:white;
    cursor:pointer;
}


