/*Начало первого экрана*/
.first-screen {
    width: 1280px;
    height: 360px;
    margin: auto;
    margin-top: 66px;
    margin-top:69px;
    background-image: url(../img/back.jpg);
    background-size:1280px 360px;
    @media (max-width: 480px){
        width:100vw;
        height: 212.5px;
        margin-top:3px;

    }


    .first-screen__searcher{
        margin:auto;
        padding-top:100px;
        width:960px;
        @media (max-width: 480px){
            width: 330px;
            margin-bottom:37.3px;
            padding-top:0px;
        }

        .searcher__title{
            text-shadow: 1px 1.7px 5px rgba(0, 36, 69, 0.35);
            font-size: 36px;
            line-height:0.9;
            letter-spacing: 0px;
            text-align: left;
            color: $back-color;
            padding-bottom: 23px;
            @media (max-width: 480px){
                text-align: center;
                text-shadow: 0px 1px 2.5px rgba(0, 36, 69, 0.35);
                font-size: 21px;
                padding-bottom: 25px;
                padding-top: 48px;
            }
        }
        .input{
            display:flex;
            flex-direction:row;
            align-content: center;
            .input__form{
                width: 800px;
                height: 60px;
                padding:0;
                box-shadow: inset 0.5px 0.9px 3px 0 rgba(21, 38, 53, 0.82);
                background-color: $back-color;
                font-size: 18px;
                letter-spacing: 0.01px;
                text-align: left;
                color: #969696;
                border: 1px;
                padding-left:20px;

                @media (max-width: 480px){
                    width: 330px;
                    height: 49px;
                    margin:0 auto;
                    font-size: 15px;
                }
            }
        }
        .find{
            cursor: pointer;
            margin-left:8px;
            width: 141px;
            height: 60px;
            padding-left: 5px;
            padding-top: 4px;
            letter-spacing: 0.33px;
            box-shadow: 1px 1.7px 5px 0 rgba(0, 36, 69, 0.35), inset -0.5px -0.9px 0 0 rgba(154, 0, 7, 0.82);
            background-color: #d30531;
            border: 1px;
            font-size: 20px;
            text-align: center;
            color: $back-color;
            @media (max-width: 480px){
                display:none;
            }
        }
        .description{
            line-height: 0.9;
            margin-top: 14px;
            letter-spacing: 0.05px;
            span{
            opacity: 0.75;
            font-size: 15px;
            text-align: left;
            color: rgba(255, 255, 255, 0.75);
            line-height: 0;
            }
            @media (max-width: 480px){
                display:none;
            }
        }
    }
    
}
.info__block{
    max-width: 1280px;
    margin:auto; 
}
.second-screen{
    max-width: 1280px;
    margin:auto;
    margin-top:52px;
    position:relative;
    @media (max-width: 480px){
        display:none;
    }
    
    
    .pay-block{
        margin:0 auto;
        width: 616px;
        height: 110px;
        
        h2{
            font-size: 36px;
            letter-spacing: 0px;
            line-height: 0.8;
            margin-bottom: 8px;
            text-align: center;
            color: $text-color;
            margin:0;
            margin-bottom:25px;
        }
        .links{
        
            a{
                font-size: 18px;
                line-height: 1.83;
                margin-right: 28px;
                color: $main-color;
                margin-right:28px;
                text-decoration: none;
                border-bottom: 1px dotted;
                
            }
            :nth-child(2){
                margin-right:30px;
            }
            :nth-child(3){
                margin-right:0px;
            }
            :nth-child(4){
                margin-left: 137px;
                letter-spacing: 0.2px;
                margin-right: 22px;
            }
            span{
                font-size: 18px;
                line-height: 1.8;
                text-align: center;
                color: $copy-color;
                margin-right:30px;
                letter-spacing: 0.1px;
            }
        }
    }
}
.share{
    position: sticky;
    top:150px;
    cursor:pointer;
    
    @media (max-width: 480px){
        position: absolute;
    }
    img{
    width: 20px;
    height: 24px;
    position: absolute;
    right: 81px;
    top: -112px;
    }
}
.third-screen{
    max-height: 2035px;
    max-width: 1280px;
    padding-top:86px;
    margin:0 auto;
    @media (max-width: 480px){
        width:100vw;
        padding-top:0px;
        margin-bottom:34.5px;
    }
    
    .third-screen__title{
        display:none;
        @media (max-width: 480px){
            font-size: 21px;
            text-align: center;
            color: $text-color;
            display:block;
            margin-bottom:14.5px;
            margin-top:29px;
        }
    }
    .info-block{
        padding-left:160px;
        padding-right:160px;
        padding-top: 2px;
        letter-spacing: 0px;
        @media (max-width: 480px){
            padding-left:0px;
            padding-right:0px;
        }
    }
        p{
            font-size: 15px;
            line-height: 1.4;
            text-align: left;
            color: $text-color;
            margin-top:0;
            margin-bottom:10px;
            letter-spacing: 0.09px;
        }
        .even{
            line-height: 1.35;
            margin-bottom: 14px;
            letter-spacing: 0.13px;
            letter-spacing: 0.1px;
            width: 615px;
            @media (max-width: 480px){
                margin-right:0px;
                width: 330px;
            }
        }
        .article{
            display:flex;
            flex-direction:row;
            margin-left: 1px;
            .article__text{
                @media (max-width: 480px){
                    display:block;
                    margin:auto;
                }
            }
            .mobile__article{
                @media (max-width: 480px){
                    display:flex;
                    flex-direction:row;
                    align-items: center;
                    position:relative;
                    width: 330px;
                    margin:auto;
                }
            }
            .image-even{
                margin-right:51px;
                @media (max-width: 480px){
                    display:none;
                }
            }
            .image{
                width: 308px;
                height: 285px;
                margin-left:45px;
                @media (max-width: 480px){
                    display:none;
                }
            }
            img{
                width: 308px;
                height: 285px;
                @media (max-width: 480px){
                    display:none;
                }
               
            }
            h3{
                font-size: 24px;
                text-align: left;
                color: $text-color;
                margin:0;
                margin-bottom:28px;
                padding-top: 1px;
                    @media (max-width: 480px){
                        height: 24px;
                        font-size:18px;
                        text-align: left;
                        color: $main-color;
                        border-bottom: 1px dotted;
                        font-weight: normal;
                        margin-bottom:0px;
                    }
            }
            .article__logo{
                
                display:none;
                @media (max-width: 480px){
                    display:block;
                }
                img{
                    @media (max-width: 480px){
                        display:block;
                        width: 34px;
                        height: 36px;
                        margin-left:0px;
                        margin-right:20px;
                    }
                }
            }
            .article__arrow {
                font-family: Arial;
                font-size: 10px;
                text-align: left;
                color: #0777ba;
                display:none;
                right:15px;
            }

            .down{
                @media (max-width: 480px){
                    display:block;
                    position:absolute;
                    cursor:pointer;
                    
                }
            }
            .up{
                @media (max-width: 480px){
                    display:block;
                    position:absolute;
                    cursor:pointer;
                    transform:rotate(180deg);
                }
            }
                
            .text{
                @media (max-width: 480px){
                    display:none;
                }
            }
            .visible{
                @media (max-width: 480px){
                    display:block;
                    position:static;
                    margin-left:15px;
                    margin-right:24px;
                    padding-top: 14px;
            }
            }
            .attention{
                font-size: 12px;
                line-height: 1.25;
                letter-spacing: 1.85px;
                color: $attention-color;
                margin-top: 38px;
                margin-bottom: 8px;
            
            }
            .attention__even{
                font-size: 12px;
                line-height: 1.25;
                letter-spacing: 1.8px;
                color: $attention-color;
                margin-bottom: 10.5px;
                margin-top: 58px;
            }
            
        }
        .info-block__custom{
            max-width: 606px;
            margin-top:37px;
            @media (max-width: 480px){
                display:block;
                width: 100vw;
                max-width: 480px;
                margin-top:0px;
                
            }
        .mobile__custom{
            @media (max-width: 480px){
                display:flex;
                flex-direction:row;
                align-items: center;
                position:relative;
                width: 330px;
                margin:auto;
                
            } 
        }
            a{
                
                
                font-size: 24px;
                text-align: left;
                color: #147ebe;
                line-height:1;
                @media (max-width: 480px){
                    font-size:18px;
                    text-align: left;
                    color: $main-color;
                    border-bottom: 1px dotted;
                    padding-bottom: 1px;
                    text-decoration: none;
                    margin-bottom:0px;
                }
            }
            .article__arrow {
                
                font-family: Arial;
                font-size: 10px;
                text-align: left;
                color: #0777ba;
                display:none;
                right:21px;
                position: absolute;
               
                
            }
            .down{
                @media (max-width: 480px){
                    display:block;
                    position:absolute;
                    cursor:pointer;
                    right:15px;
                }
            }
            .up{
                @media (max-width: 480px){
                    display:block;
                    position:absolute;
                    cursor:pointer;
                    right:15px;
                    transform:rotate(180deg);
                }
            }
        }
        .custom__text{
            margin-top: 28px;
            letter-spacing: 0.09px;
            @media (max-width: 480px){
                display:none;
            }   
        }
        .visible{
            @media (max-width: 480px){
                display:block;
                position:static;
                margin-left:22px;
                margin-right:23px;
            }
        }
        .article__logo{
                
            display:none;
            @media (max-width: 480px){
                display:block;
            }
            img{
                @media (max-width: 480px){
                    display:block;
                    width: 30px;
                    height: 28px;
                    margin-left:0px;
                    margin-right:20px;
                }
            }
        }
    }
    .line{
        width: 1280px;
        height: 0px;
        border:0.25px solid #e6ecf1;
        margin-bottom: 72px;
        margin-top: 69px;
        @media (max-width: 480px){
            width: 100vw;
            margin-bottom: 5px;
            margin-top: 5px;
            border:0.25px solid #e6ecf1;
        }
        
    }
    #line-three{
        margin-top: 77px;
        margin-bottom: 72px;
        @media (max-width: 480px){
            width: 100vw;
            margin-bottom: 5px;
            margin-top: 5px;
            border:0.25px solid #e6ecf1;
        }
    }
    #line-four{
        margin-top: 76px;
        margin-bottom: 71px;
        @media (max-width: 480px){
            width: 100vw;
            margin-bottom: 5px;
            margin-top: 5px;
            border:0.25px solid #e6ecf1;
        }
    }

    .line__mobile{
        display:none;
        @media (max-width: 480px){
            display:block;
            width: 100vw;
            height: 0px;
            border:0.25px solid #e6ecf1;
            margin-bottom: 37px;
            margin-top: 37px;
            width: 100%;
            margin-bottom: 5px;
            margin-top: 5px;
        }
    }

.fourth-screen{
    max-width: 1280px;
    margin:auto;
    .fourth-screen__title{
        font-size: 24px;
        text-align: center;
        color: $text-color;
        @media (max-width: 480px){
            font-size: 21px;
            text-align: center;
        }
    }
    .fourth-screen__partners{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: start;
        padding-right:156px;
        padding-left:164px;
        padding-bottom:42px;
        padding-top:36px;
        width:960px;
        :nth-child(1){
            margin-right:25px;
            @media (max-width: 480px){
                margin:0px;
                text-align: center;
            }
        }
        :nth-child(2){
            margin-right:25px;
            @media (max-width: 480px){
                margin:0px;
                text-align: center;
            }
        }
        :nth-child(3){
            margin-right:20px;
            @media (max-width: 480px){
                margin:0px;
                text-align: center;
            }
        }
        :nth-child(4){
            margin-right:0px;
            @media (max-width: 480px){
                margin:0px;
                text-align: center;
            }
        }
        :nth-child(5){
            margin-right:10px;
            @media (max-width: 480px){
                margin:0px;
                text-align: center;
            }
        }
        :nth-child(6){
            margin:0px;
            @media (max-width: 480px){
                margin-right:0px;
                text-align: center;
            }
        }
        
        @media (max-width: 480px){
            width:300px;
            padding-top:30px;
            padding-left:27px;
            padding-right:27px;
            margin:0;
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-gap: 20px;
            
            :nth-child(1){
                -ms-grid-row:1;
                -ms-grid-column:1;
            }
            :nth-child(2){
                -ms-grid-row:1;
                -ms-grid-column:2;
            }:nth-child(3){
                -ms-grid-row:2;
                -ms-grid-column:1;
            }:nth-child(4){
                -ms-grid-row:2;
                -ms-grid-column:2;
            }:nth-child(5){
                -ms-grid-row:3;
                -ms-grid-column:1;
            }:nth-child(6){
                -ms-grid-row:3;
                -ms-grid-column:2;
            }
        }
        
        .fourth-screen__partner{
            text-align: center;
            
        }
        
            /*display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;*/
           
            #one{
                width: 109px;
                height: 86px;
                margin-bottom: 23px;
                margin-top: 12px;
                @media (max-width: 480px){
                    margin: 0px;
                }
                
            }
            .partner_one{
                margin-left: 4px;
                margin-bottom:30px;
                letter-spacing: 0.1px;
                @media (max-width: 480px){
                    margin:0 auto;
                    text-align: center;
                }
            }
            
            #two{
                width: 76px;
                height: 88px;
                margin-bottom:20px;
                margin-left: 28px;
                margin-top: 12px;
                @media (max-width: 480px){
                    margin:0px;
                }
            }
            .partner_two{
                margin-bottom:14px;
                margin-right: 0px !important;
                margin-left: 0px;
                letter-spacing: 0.1px;
                line-height: 1.33;
                @media (max-width: 480px){
                    margin:0 auto !important;
                    text-align: center;
                }
            }

            #three{
                width: 97px;
                height: 81px;
                margin-bottom:10px;
                margin-left: 31px;
                margin-top: 16px;
                @media (max-width: 480px){
                    margin:0px;
                }
            }
            .partner_three{
                margin-bottom:14px;
                line-height: 1.33;
                margin-top: 13px;
                margin-left: 30px;
                letter-spacing: 0.1px;
                @media (max-width: 480px){
                    margin:0 auto;
                    text-align: center;
                }
            }
            #four{
                width: 148px;
                height: 62px;
                padding-bottom:34px;
                margin-top: 24px;
                @media (max-width: 480px){
                    margin:0px;
                }
            }
            .partner_four{
                margin-bottom:14px;
                margin-left: 8px;
                letter-spacing: 0.1px;
                line-height: 1.33;
                letter-spacing: 0.1px;
                @media (max-width: 480px){
                    margin:0 auto;
                    text-align: center;
                }
            }
            #five{
                width: 116px;
                height: 86px;
                padding-bottom:24px;
                margin-top: 11px;
                margin-left:8px;
                @media (max-width: 480px){
                    margin:0px;
                }
            }
            .partner_five{
                margin-right: 0px !important;
                margin-left: 3px;
                letter-spacing: 0.1px;
                @media (max-width: 480px){
                    margin:0 auto !important;
                    text-align: center;
                }
            
            }
            #six{
                width: 110px;
                height: 76px;
                padding-bottom:28px;
                margin-left: 23px;
                margin-top: 16px;
                @media (max-width: 480px){
                    margin:0px;
                }
            }
            .partner_six{
                margin-right: 0px !important;
                margin-left: 12px;
                line-height: 1.33;
                letter-spacing: 0.06px;
                @media (max-width: 480px){
                    margin:0 auto !important;
                    text-align: center;
                }
            }
            p{
                max-width:132px;
                font-size: 12px;
                text-align: center;
                color: $text-color;
                margin:0;        
            }
    }
    
}
.registration{
    position: relative;
    width: 400px;
    height: 475px;
    background-color: $back-color;
    .instruction{
        padding-top: 34px;
        padding-left: 41px;
        padding-right: 85px;
        padding-bottom: 32px;
        letter-spacing: 0px;
        font-size: 15px;
        line-height: 1.33;
        text-align: left;
        color: $copy-color;
    }
    .input{
        width:322px;
        height:60px;
        margin-bottom:19px;
        margin:0 auto;
        margin-bottom:19px;
        
        input{
            width:100%;
            height:100%;
            box-shadow: inset 0.5px 0.9px 3px 0 rgba(21, 38, 53, 0.82);
            background-color: $back-color;
            font-size: 18px;
            text-align: left;
            color: #969696;
            border:0.3px;
            text-indent: 19px;
        }
        

    }
    .modal__button{
        width:322px;
        height:60px;
        margin-left:39px;
        margin-right:39px;
        box-shadow: 0.5px 0.9px 2.5px 0 rgba(0, 36, 69, 0.35), inset -0.3px -0.4px 0 0 rgba(154, 0, 7, 0.82);
        border:0.5px;
        background-color: #d30531;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $back-color;
    }
    .registration__links{
        margin-top:38px;
        margin-left:39px;

        a{
            display:block;
            font-size: 15px;
            text-align: left;
            color: #0777ba;
            margin-bottom:30px;
        }
    }

}
.close{
    position: absolute;
    top: 2.5px;
    right: -42px;
    cursor:pointer;
    img{
        width: 21px;
        height: 21px;
    }
}
