/*Начало первого экрана*/
.first-screen {
    height: 180px;
    max-width: 640px;
    margin:auto;
    margin-top:43.5px;
    background-image: url(../img/back.jpg);
    background-size:640px 180px;
    @media (max-width: 480px){
        width:100vw;
        height: 106.3px;
        margin-top:3px;

    }


    .first-screen__searcher{
        margin:auto;
        padding-top:51.5px;
        width:480px;
        @media (max-width: 480px){
            width: 209px;
            margin-bottom:37.3px;
            padding-top:0px;
        }

        .searcher__title{
            padding-top:24px;
            text-shadow: 0.5px 0.9px 2.5px rgba(0, 36, 69, 0.35);
            font-size: 18px;
            letter-spacing: -0.18px;
            text-align: left;
            color: $back-color;
            padding-bottom:13px;
            @media (max-width: 480px){
                text-align: center;
                text-shadow: 0px 1px 2.5px rgba(0, 36, 69, 0.35);
                font-size: 10.5px;
                letter-spacing: -0.11px;
                padding-bottom:12.5px;
            }
        }
        .input{
            display:flex;
            flex-direction:row;
            align-content: center;
            .input__form{
                padding-left:6px;
                width: 404.5px;
                height: 28px;
                box-shadow: inset 0.3px 0.4px 1.5px 0 rgba(21, 38, 53, 0.82);
                background-color: $back-color;
                font-size: 9px;
                text-align: left;
                color: #969696;
                border: 1px;

                @media (max-width: 480px){
                    width: 165px;
                    height: 24.5px;
                    margin:0 auto;
                    font-size: 7.5px;
                }
            }
        }
        .find{
            cursor: pointer;
            margin-left:3px;
            width: 70.5px;
            height: 30px;
            box-shadow: 0.5px 0.9px 2.5px 0 rgba(0, 36, 69, 0.35), inset -0.3px -0.4px 0 0 rgba(154, 0, 7, 0.82);
            background-color: #d30531;
            border: 1px;
            font-size: 10px;
            text-align: center;
            color: $back-color;
            @media (max-width: 480px){
                display:none;
            }
        }
        .description{
            span{
            opacity: 0.75;
            font-size: 7.5px;
            text-align: left;
            color: rgba(255, 255, 255, 0.75);
            }
            @media (max-width: 480px){
                display:none;
            }
        }
    }
    
}
.info__block{
    max-width: 640px;
    margin:auto; 
}
.second-screen{
    max-width: 640px;
    margin:auto;
    margin-top:27px;
    position:relative;
    @media (max-width: 480px){
        display:none;
    }
    
    
    .pay-block{
        margin:auto;
        width: 306px;
        height: 55px;
        
        h2{
            font-size: 18px;
            text-align: center;
            color: $text-color;
            margin:0;
        }
        .links{
            text-align: center;
        
            a{
                font-size: 9px;
                line-height: 1.83;
                text-align: center;
                color: $main-color;
                margin-right:8px;
                text-decoration: none;
                border-bottom: 1px dashed;
            }
            span{
                font-size: 9px;
                line-height: 1.83;
                text-align: center;
                color: $copy-color;
                margin-right:8px;
            }
        }
    }

}
.share{
    position: sticky;
    top:150px;
    cursor:pointer;
    
    @media (max-width: 480px){
        position: absolute;
    }
    img{
    width: 10px;
    height: 12px;
    position: absolute;
    right: 40.5px;
    top: -50.5px;
    }
}
.third-screen{
    max-height: 934.5px;
    max-width: 640px;
    padding-top:43px;
    margin:0 auto;
    @media (max-width: 480px){
        width:100vw;
        padding-top:0px;
        margin-bottom:18.5px;
    }
    
    .third-screen__title{
        display:none;
        @media (max-width: 480px){
            font-size: 10.5px;
            text-align: center;
            color: $text-color;
            display:block;
            margin-bottom:14.5px;
            margin-top:17.3px;
        }
    }
    .info-block{
        padding-left:80px;
        @media (max-width: 480px){
            padding-left:0px;
        }
    }
        p{
            font-size: 7.5px;
            line-height: 1.4;
            text-align: left;
            color: $text-color;
        }
        .even{
            margin-right:80px;
            @media (max-width: 480px){
                margin-right:0px;
            }
        }
        .article{
            display:flex;
            flex-direction:row;
            align-items: center;
            .article__text{
                @media (max-width: 480px){
                    display:block;
                    margin:auto;
                }
            }
            .mobile__article{
                @media (max-width: 480px){
                    display:flex;
                    flex-direction:row;
                    align-items: center;
                    position:relative;
                    width: 209px;
                    margin:auto;
                }
            }
            .image-even{
                margin-right:22.5px;
                @media (max-width: 480px){
                    display:none;
                }
            }
            .image{
                margin-left:22.5px;
                padding-right:80px;
                @media (max-width: 480px){
                    display:none;
                }
            }
            img{
                width: 154px;
                height: 142.5px;
                @media (max-width: 480px){
                    display:none;
                }
               
            }
            h3{
                font-size: 12px;
                text-align: left;
                color: $text-color;
                margin-bottom:16px;
                margin:0;
                    @media (max-width: 480px){
                        height: 12px;
                        font-size: 9px;
                        text-align: left;
                        color: $main-color;
                        border-bottom: 1px dotted;
                        font-weight: normal;
                    }
            }
            .article__logo{
                
                display:none;
                @media (max-width: 480px){
                    display:block;
                }
                img{
                    @media (max-width: 480px){
                        display:block;
                        width: 17px;
                        height: 18px;
                        margin-left:28.5px;
                        margin-right:10px;
                    }
                }
            }
            .article__arrow {
                font-family: Arial;
                font-size: 10px;
                text-align: left;
                color: #0777ba;
                display:none;
            }

            .down{
                @media (max-width: 480px){
                    display:block;
                    position:absolute;
                    cursor:pointer;
                    right:21px;
                }
            }
            .up{
                @media (max-width: 480px){
                    display:block;
                    position:absolute;
                    cursor:pointer;
                    right:21px;
                    transform:rotate(180deg);
                }
            }
                
            .text{
                @media (max-width: 480px){
                    display:none;
                }
            }
            .visible{
                @media (max-width: 480px){
                    display:block;
                    position:static;
                    margin-left:22px;
                    margin-right:23px;
            }
            }
            .attention{
                font-size: 6px;
                line-height: 1.25;
                letter-spacing: 0.9px;
                color: $attention-color;
                margin-top:16px;
            }
        }
        .info-block__custom{
            max-width: 303px;
            @media (max-width: 480px){
                display:block;
                width: 100vw;
                max-width: 480px;
                
            }
        .mobile__custom{
            @media (max-width: 480px){
                display:flex;
                flex-direction:row;
                align-items: center;
                position:relative;
                width: 209px;
                margin:auto;
            } 
        }
            a{
                
                height: 11px;
                font-size: 12px;
                text-align: left;
                color: #147ebe;
                margin-bottom:16px;
                @media (max-width: 480px){
                    font-size: 9px;
                    text-align: left;
                    color: $main-color;
                    border-bottom: 1px dotted;
                    padding-bottom: 1px;
                    text-decoration: none;
                    margin-right:60px;
                    margin-bottom:0px;
                }
            }
            .article__arrow {
                
                font-family: Arial;
                font-size: 10px;
                text-align: left;
                color: #0777ba;
                display:none;
                right:21px;
                position: absolute;
               
                
            }
            .down{
                @media (max-width: 480px){
                    display:block;
                    position:absolute;
                    cursor:pointer;
                    right:21px;
                }
            }
            .up{
                @media (max-width: 480px){
                    display:block;
                    position:absolute;
                    cursor:pointer;
                    right:21px;
                    transform:rotate(180deg);
                }
            }
        }
        .custom__text{
            @media (max-width: 480px){
                display:none;
            }   
        }
        .visible{
            @media (max-width: 480px){
                display:block;
                position:static;
                margin-left:22px;
                margin-right:23px;
            }
        }
        .article__logo{
                
            display:none;
            @media (max-width: 480px){
                display:block;
            }
            img{
                @media (max-width: 480px){
                    display:block;
                    width: 17px;
                    height: 18px;
                    margin-left:28.5px;
                    margin-right:10px;
                }
            }
        }
    }
    .line{
        width: 640px;
        height: 0px;
        border:0.25px solid #e6ecf1;
        margin-bottom: 37px;
        margin-top: 37px;
        @media (max-width: 480px){
            width: 100vw;
            margin-bottom: 5px;
            margin-top: 5px;
            border:0.25px solid #e6ecf1;
        }
    }

    .line__mobile{
        display:none;
        @media (max-width: 480px){
            display:block;
            width: 100vw;
            height: 0px;
            border:0.25px solid #e6ecf1;
            margin-bottom: 37px;
            margin-top: 37px;
            width: 100%;
            margin-bottom: 5px;
            margin-top: 5px;
        }
    }

.fourth-screen{
    max-width: 640px;
    margin:auto;
    .fourth-screen__title{
        font-size: 12px;
        text-align: center;
        color: $text-color;
        @media (max-width: 480px){
            font-size: 10.5px;
            text-align: center;
        }
    }
    .fourth-screen__partners{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right:78px;
        padding-left:82px;
        padding-bottom:29px;
        padding-top:23.5px;
        @media (max-width: 480px){
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            :nth-child(1){
                -ms-grid-row:1;
                -ms-grid-column:1;
            }
            :nth-child(2){
                -ms-grid-row:1;
                -ms-grid-column:2;
            }:nth-child(3){
                -ms-grid-row:2;
                -ms-grid-column:1;
            }:nth-child(4){
                -ms-grid-row:2;
                -ms-grid-column:2;
            }:nth-child(5){
                -ms-grid-row:3;
                -ms-grid-column:1;
            }:nth-child(6){
                -ms-grid-row:3;
                -ms-grid-column:2;
            }
        }
        
        .fourth-screen__partner{
            text-align: center;
            display:flex;
            flex-direction: column;
            align-items: center;

            #one{
                width: 54.5px;
                height: 43px;
                padding-bottom:14.5px;
            }
            #two{
                width: 38px;
                height: 44px;
                padding-bottom:14px;
            }
            #three{
                width: 48.5px;
                height: 40.5px;
                padding-bottom:15.5px;
            }
            #four{
                width: 74px;
                height: 31px;
                padding-bottom:20.5px;
            }
            #five{
                width: 58px;
                height: 43px;
                padding-bottom:14.5px;
            }
            #six{
                width: 55px;
                height: 38px;
                padding-bottom:17px;
            }
            p{
                width:66px;
                font-size: 6px;
                text-align: center;
                color: $text-color;
                margin:0;        
            }
        }
    }
}
.registration{
    position: relative;
    width: 200px;
    height: 237.5px;
    background-color: $back-color;
    .instruction{
        padding-top:19px;
        padding-left:20.5px;
        padding-right:49px;
        padding-bottom:17.5px;

        font-size: 7.5px;
        line-height: 1.33;
        text-align: left;
        color: $copy-color;
    }
    .input{
        width:161px;
        height:30px;
        margin-bottom:9.5px;
        margin-left:19.5px;
        
        input{
            width:159px;
            height:28px;
            box-shadow: inset 0.3px 0.4px 1.5px 0 rgba(21, 38, 53, 0.82);
            background-color: $back-color;
            font-size: 9px;
            text-align: left;
            color: #969696;
            border:0.3px;
        }

    }
    .modal__button{
        width:161px;
        height:30px;
        margin-left:19.5px;
        margin-right:19.5px;
        box-shadow: 0.5px 0.9px 2.5px 0 rgba(0, 36, 69, 0.35), inset -0.3px -0.4px 0 0 rgba(154, 0, 7, 0.82);
        border:0.5px;
        background-color: #d30531;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $back-color;
    }
    .registration__links{
        margin-top:21px;
        margin-left:19.5px;

        a{
            display:block;
            font-size: 7.5px;
            text-align: left;
            color: #0777ba;
            margin-bottom:17px;
        }
    }

}
.close{
    position: absolute;
    top: 0;
    right: -21.5px;
    cursor:pointer;
    img{
    width: 12.5px;
    height: 12.5px;
    }
}
