html {
    background-color: #fafafa;
}
body{
    width: 790px;
    height:590px;
    margin:0 auto;
    margin-top: 10px;
    border:5px ridge #87CEEB;
    border-radius:4px;
    background:#4169E1;
    font-family: Verdana;
    color: white;
}
header{
    height:68px;
    border-bottom: 2px ridge #87CEEB;
    margin-top:0px;
    margin-bottom:10px;
    background-color: #00BFFF;
    color: white;
}
.close{
    margin:0 0 0 775px;
    padding:0px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 1px 1px 3px #000;
    background-color: transparent;
    border:0px;
}
.close:hover {
    color: red;
}
.close:active {
    color: darkred;
}
h1{
    margin:0px 0px 0px 0px ;
    padding:0px 0px 0 15px;
    font-size:28px;
    line-height:1em;
    text-shadow: 2px 2px 5px #000;
}
.block_1{
    display:inline-block;
    font-size: 10px;
    margin:0;
    padding-left:15px;
    padding-bottom:15px;
}

.main{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-content:space-between;
    width: 785px;
    max-height:500px;
    overflow: auto;
}

.main__block{
box-sizing: border-box;
display:flex;
flex-direction:row;
justify-content: flex-start;
}
.block-main__datebox, .block-main__message{
    padding-top:10px;
}
.block-main__datebox{
box-sizing: border-box;
display: flex;
flex-direction:row;
-ms-flex-pack: center;
justify-content:center;
-ms-flex-align: center;
align-items: center;
text-justify: distribute;
min-width:-moz-min-content;
min-width:150px;
border-right: 3px ridge #87CEEB;


}
.datebox-block__initial{
    width:50px;
    height:50px;
    display:block;
    border-radius:50px;
    border:1px outset #87CEEB;
    box-shadow: 1px 1px 3px #000;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    line-height:50px;
    text-align:center;
    background-color: #00BFFF;
    margin:5px 5px 5px 10px;
    text-shadow: 1px 1px 3px #000;

}
.datebox-block__date{
display:flex;
flex-direction:column;
justify-content:center;
align-items: flex-start;
box-sizing:border-box;
flex-grow: 0;
flex-shrink: 0;
flex-basis: 0%;

color:white;
font-size: 12px;
margin-right:3px;
}
.date-block__day{
margin:0px;
padding:2px;
line-height: 1em;
}
.date-block__time{
margin:0px;
padding:2px;
line-height: 1em;
}
.block-main__message{
flex-grow:1;
margin-left:10px;
}
.message-block__name{
    margin:1px 0px 2px 0px;
    font-size:14px;
}
.message-block__text{
    margin:7px 10px 7px 7px;
    background-color: #1E90FF;
    border:2px solid #6495ED;
    border-radius: 5px;
    padding:5px;
    font-size: 16px;
    box-shadow: 1px 1px 3px #000;
}
