/*Начало первого экрана*/
.first-screen {
    height: 100vh;
    position: relative;
    .rectangle-with-bg {
        width: 481px;
        height: 811px;
        position: absolute;
        right: 0;
        top: 0;
        background-image: linear-gradient(225deg, #b4d3d3, #d9e7e7);
    }
    .main-content{
        width: 1800px;
        height:810px;
        position: absolute;
        left:0;
        bottom:0;
    }
    .slider-meta{
width: 480px;
height: 100%;
position: relative;
}
.person-info {
    color: $primary-color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    z-index: 1;
}
     .person-name{
font-size:101px;
letter-spacing: 2px;
margin:0;

     }
 .person-job{
     margin-top:34px;
     font-size: 17px;
     text-transform: uppercase;
     letter-spacing: 3.4px;
    }


    }
    .slider-controls{
        position:absolute;
        left:0;
        bottom:88px;
        width:100%;
    }
    .slider-pages{
position: absolute;
left:62px;
bottom:0;
font-size:12px;
letter-spacing: 2.4px;
color:$primary-color;
list-style: none;
padding-left:0;
margin:0;
    }
    .slider-page {
        opacity: 0.7;
        margin-top: 41px;
        cursor: pointer;
        position: relative;

        &.active, &:hover {
            opacity: 1;
        }

        &.active:before {
            content: '';
            position: absolute;
            width: 28px;
            height: 2px;
            background-color: $primary-color;
            display: inline-block;
            left: -62px;
            top: 50%;
            margin-top: -1px;
        }
}
    .slider-arrows {
        position: absolute;
        left: 50%;
        bottom: 0;
    }
    .slide-content{
        flex-grow: 1;
        height: 100%;
        background-color: #e2e8e8;
        position: relative;

        &:after {
            content: '';
        width:56px;
        height: 7px;
        background-color: #ffffff;
        position: absolute;
        left:18%;
        top:34%;
        display: inline-block;
    }

    .slide-button{
        width:106px;
        height: 106px;
        background-color: #fff;
        top:70px;
        right:70px;
        border-radius: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 34px;
        color: #777;
        i{
            position:relative;
            left:3px;

        }
    }
    .slide-title {
        width: 480px;
        height: 90px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        bottom: 0;
        line-height: 90px;
        text-align: center;
        color: #87bbbc;
        font-size: 14px;
        letter-spacing: 2.8px;
        text-transform: uppercase;
    }
}

/*Начало второго экрана*/
.second-screen {
    height:100vh;
    width: 82vw;
    max-width: 1800px;
    position: relative;
    margin:0;
    padding: 120px;
    box-sizing:padding-box;
    display:flex;
    justify-content: space-between;
    .person-photo {
        height:100vh;
        width: 35vw;
        background-color: #e2e8e8;

        .photo-points{
            height:100%;
            margin-bottom:0px;
            display:flex;
            justify-content: center;
            align-items: flex-end;
        }
        .photo-points__point{
            margin:0 20px 30px 20px;
            width: 6px;
            height: 6px;
            opacity: 0.5;
            border-radius: 3px;
            background-color: #ffffff;
            z-index: 10;
            &.active{
            width: 12px;
            height: 12px;
            opacity:1;
            border-radius: 6px;
            margin:0 20px 27px 20px;
            }
        }
    }
    .profile {
            width:40%;

        .menu-profile{
            width:70%;
            padding-top:91px;
            padding-right:20px;
            display:flex;
            justify-content:space-between;
            letter-spacing:2.4px;
            line-height: 1;
            .menu-profile__point{
                @extend .nunito-extrabold;
                color:$primary-color;
                opacity: 0.7;
                font-size:12px;
                text-decoration: unset;
                cursor: pointer;
                position: relative;
                 &.active, &:hover {
                opacity: 1;
                }
                &.active:before {
                content: '';
                position: absolute;
                width: 120px;
                height: 2px;
                background-color: $primary-color;
                display: inline-block;
                left:-40%;
                bottom: -19px;
                }
            }

        }
        .info-profile{
            width:80%;
        }
        .title-profile{
            font-size:60px;
            color: $primary-color;
            margin-top:130px;
            margin-bottom:38px;
            line-height: 1;
        }
        .short-info{
            margin:0;
            font-size:24px;
            line-height: 36px;
            color: $primary-color;
            padding-bottom:31px;
        }
       .awards{
        margin-bottom:50px;
       }
        .awards-title{
            padding:0;
            font-size:16px;
            color: $primary-color;
        }
        .full-information{
            color:#767679;
            font-size: 16px;
            line-height:30px;

        }
    }
    .social-networks{
        width:16px;
        position: absolute;
        top:40%;
        right:0px;

        .social-button{
            margin-top:40px;
        }
        .social-button:first-child{
            margin-top:40px;
        }
    }
}
/*Третий экран */

.third-screen{
height:150vh;
max-height:1080px;
width: 85vw;
max-width: 1800px;
display:flex;
justify-content: space-between;
margin-left:120px;
margin-right:120px;
    
.news-photo{
    width:40vw;
    height:100%;
    background-color: #e2e8e8;
    margin-left:120px;
    }
}
.on-press{
    width:35%;
    height:40vh;
    margin-top:0;
    margin-left:120px;
    }

.title-news{
        line-height: 1.32;
        font-size:60px;
        color: $primary-color;
        margin-top:185px;
        margin-right:50px;
        margin-bottom:0px;
    }
.title_news__line{
        height:2px;
        width:140px;
        margin-top:49px;
        background-color:$primary-color;
    }
 .video{
        margin-top:80px;
        width:100%;
        height:100%;
        display:flex;
        justify-content: flex-start;
        &:hover  .video-rectangle{
            background-color:#b4d3d3;
            i{
                display:block;
            }
        }
        &:hover .video-title{
            color:#b4d3d3;
        }
}
.video-rectangle{
            width:200px;
            height:139px;
            background-color:#e2e8e8;
            margin:0;
            position:relative;
            i{
                display:none;
                position: absolute;
                font-size: 30px;
                left:45%;
                top:40%;
                color:white;
            }
        }
.title-date{
            width:50%;
            margin-left:30px;
            margin-top:-10px;
            margin-right:0;
            padding:0;
            display:flex;
            flex-direction: column;
            justify-content:space-between;
}
.video-title{
            font-size: 24px;
            line-height: 1.5;
            color:$primary-color;
            padding:0;
            margin:0;
        }
.video-date{
    font-size: 16px;
    color: #77777e;
    margin:0;
}




.explore-more{
    margin-top:63px;
    position: relative;
}
.explore-more__text{
    display: inline-block;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 2.8px;
    color: $primary-color;
    
}
.explore-more__arrow-button{
    display: inline-block;
    position: absolute;
    margin-left:22px;
    margin-top:4px;

}
/*Начало четвертого экрана*/

.fourth-screen {
height:100vh;
position: relative;
padding:120px;

    .head-fourth{
        width:80vw;
        display: flex;
        justify-content: space-between;
    }
    
    .title-fourth{
            margin-right:0px;
            padding:0;
        }
    .title-screen{
        font-size:60px;
        color: $primary-color;
        margin-bottom:0;
        margin-top:0;
        margin-left:120px;
        margin-right:20px;
        padding:0 0 0 0;
        padding-bottom:0;
    }
    .title-screen__line-two{
        height:2px;
        width:140px;
        margin-top:49px;
        background-color:$primary-color;
        margin-left:120px;
    }
    .short-text{
    width:30%;
    left:57%;
    }

    .text-short{
        padding:0;
        margin-bottom:42px;
        color:#767679;
    }
    .explore-more{
        margin:0px;
        position: relative;
        .explore-more__text{
    display: inline-block;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 2.8px;
    color: $primary-color;
    }
    .explore-more__arrow-button{
        display: inline-block;
        position: absolute;
        margin-left:22px;
        margin-top:4px;

    }
}

    .fourth-screen__gallery {
        display: grid;
        width: 1680px;
        grid-template-columns:1fr 1fr 1fr 1fr;
        gap: 0px;
        margin-top:130px;
        margin-bottom: 70px;

        .gallery__photo {
            background-color:#e2e8e8;
            height: 490px;
            background-position: center;
            background-size: auto 100%;
            position: relative;
            &:hover .dark-screen {
                display: block;
            }
        }

            .dark-screen{
            position:relative;
            width: 100%;
            height: 100%;
            background-color: rgba(3, 4, 9, 0.81);
            text-align: center;
            display: none;
                .text{
                    position:absolute;
                    bottom:51px;
                    right:100px;
                    left:100px;
                    padding:0;

                .name{

                    font-size:30px;
                    letter-spacing: 0.6px;
                    color:#ffffff;
                }
                .job{
                    font-size: 12px;
                    letter-spacing: 2.4px;
                    color:#ffffff;
                }
                }
                .arrow-button{
                    width:56px;
                    height: 56px;
                    background-color: #b4d3d3;
                    top:20px;
                    right:20px;
                    border-radius: 50%;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    color: #ffffff;
                    i{
                        position:relative;
                        left:0px;
                        transform: rotate(-45deg);
                    }
                }
            }

        }
    .points-gallery{
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .points-gallery__point{
        margin:20px;
        width: 6px;
        height: 6px;
        opacity: 0.5;
        border-radius: 3px;
        background-color: #000000;
        z-index:10;
        &.active{
        width: 12px;
        height: 12px;
        opacity:1;
        border-radius: 6px;
        margin:13px;
        background-color: #b4d3d3;
        }
    }
    }

/*Контакты*/
.footer{
    height:230px;
    margin-left:60px;
    margin-right:60px;
    position:relative;
    display: flex;
    justify-content: space-between;
        .left-part{
            left:0px;
            .left-part__logo{
                font-size: 28px;
                padding:0;
            }
            .left-part__copy{
                margin-top:91px;
                margin-bottom:48px;
                color:#77777e;
                font-size: 15px;
            }
        }

        .right-part{
            right:0px;
            .block_send{
                display:flex;
                justify-content: center;
                align-items:center;
                padding-bottom:0;
                margin-bottom:83px;
            }
            .line-three{
                height:40px;
                width:1px;
                background-color: #b4d3d3;
            }
            .to-send{
                font-size: 14px;
                letter-spacing: 2.8px;
                color:$primary-color;
                padding:0 40px 0 40px;
            }
            .fab{
                font-size: 18px;

            }
        }
            .social-networks-two{
            display:flex;
            direction:row;
            justify-content: flex-end;
            margin-bottom:48px;
            .social-button{
            margin-left:40px;
            }

            }
}